
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

// Materialize
@import './../../node_modules/materialize-css/sass/materialize';

// nouiSlider
@import './../../node_modules/materialize-css/extras/noUiSlider/nouislider';

// Materialze overrides
@import 'materialoverride';


.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.finder-form [type="radio"]:not(:checked) + span, [type="radio"]:checked + span {
  margin-left: 9px;
  :first-child {
      margin-left: 0;
  }
}

.no-margin-bot {
  margin-bottom: 0!important;
}

.collection a.remove span {
  font-size: 15px;
  margin: 0 8px 0 -10px;
  vertical-align: middle;
}